{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full bg-white shadow-md rounded-lg p-8">
			<div class="flex flex-col items-center mb-6">
				<svg width="110" viewbox="0 0 1000 330" aria-hidden="true">
					<path data-name="Tracé 1" d="M368 87.6c-3-23.68-21.43-35.52-47.36-35.52-24.42 0-44.41 11.84-51.07 35.52zM268.84 125c3 22.57 22.57 38.85 54.39 38.85 16.65 0 38.49-6.29 48.85-17l28.86 28.49c-19.24 20-50.71 29.6-78.44 29.6-62.91 0-100.28-38.85-100.28-97.31 0-55.51 37.74-95.47 97-95.47 61.06 0 99.16 37.74 92.14 112.85z" fill="#54616c"></path>
					<path data-name="Tracé 2" d="M565.23 66.14a61.56 61.56 0 00-45.14-16.28c-21.43 0-33.3 6.67-33.3 18.13 0 11.85 10.71 18.5 34 20 34.42 2.22 78.07 10 78.07 58.47 0 32.19-26.27 59.94-78.44 59.94-28.86 0-57.73-4.82-84.37-32.57l22.2-32.19c12.95 14.43 42.56 25.17 62.91 25.53 17 .37 32.93-8.51 32.93-21.83 0-12.58-10.36-17.76-36.26-19.24-34.42-2.59-75.49-15.17-75.49-56.61 0-42.19 43.67-57 77-57 28.49 0 49.95 5.55 71 24.06z" fill="#54616c"></path>
					<path data-name="Tracé 3" d="M765.41 87.6C762.45 63.92 744 52.08 718 52.08c-24.42 0-44.39 11.84-51.06 35.52zM666.24 125c3 22.57 22.57 38.85 54.39 38.85 16.65 0 38.49-6.29 48.84-17l28.87 28.49c-19.25 20-50.72 29.6-78.45 29.6-62.91 0-100.28-38.85-100.28-97.31 0-55.51 37.74-95.47 96.95-95.47 61.06 0 99.16 37.74 92.14 112.85z" fill="#54616c"></path>
					<path data-name="Tracé 4" d="M1000 176.78a93.83 93.83 0 01-70.3 28.87c-52.91 0-97-31.82-97-96.58s44-96.58 97-96.58a86.61 86.61 0 0165.86 27l-28.49 30a55.4 55.4 0 00-36.63-14.44 51.33 51.33 0 00-52.6 50q0 2 .06 4c0 34.78 23.68 53.28 51.81 53.28a54.8 54.8 0 0040-15.17z" fill="#54616c"></path>
					<path data-name="Tracé 5" d="M94.71 159.48c-26.89 0-48.86-19.28-48.86-51.9s22-52.65 48.86-52.65c26.52 0 48.49 20.46 48.49 52.65s-22 51.9-48.49 51.9m54.93 17.8c30.72-14 39.4-46.59 39.4-69.7a79.6 79.6 0 00-19.7-55.3l20.84-26.52L156.08 0l-18.57 23.49a74.42 74.42 0 00-42.8-10.63C42.44 12.86 0 49.24 0 107.58s36.36 94 94.7 94c16.36 0 33.27 5.89 41.77 18.46h49.79c-3.86-16.48-14-31.43-36.63-42.71" fill="#54616c"></path>
					<path data-name="Tracé 6" d="M189.41 239.51h-45.84c0 24.24-22.35 40.15-48.86 40.15s-48.87-15.9-48.87-40.15H0c0 50.38 40.54 83.34 94.7 83.34 54.18 0 94.71-32.96 94.71-83.34z" fill="#b58253"></path>
					<path data-name="Tracé 7" d="M94.71 160c-26.89 0-48.86-19.29-48.86-51.9s22-52.66 48.86-52.66c26.52 0 48.49 20.46 48.49 52.66s-22 51.9-48.49 51.9m54.93 17.8c30.72-14 39.4-46.6 39.4-69.7a79.61 79.61 0 00-19.7-55.31l20.84-26.51L156.08.47 137.51 24A74.44 74.44 0 0094.7 13.35C42.44 13.35 0 49.71 0 108.06s36.36 93.57 94.7 93.57a51.89 51.89 0 0141.89 18.88h49.67c-3.86-16.49-14-31.43-36.63-42.72" fill="#54616c"></path>
					<g data-name="Groupe 1" fill="#54616c">
						<path data-name="Tracé 8" d="M256.68 286.4A17.37 17.37 0 01222 289a19.24 19.24 0 010-2.63V258h5.45v27.64c0 7.4 2.73 14.41 11.88 14.41s11.87-7 11.87-14.41V258h5.45z"></path>
						<path data-name="Tracé 9" d="M267.91 258h6.87l26.6 38.15h.13V258H307v45.93h-6.87l-26.6-38.15h-.13v38.15h-5.45z"></path>
						<path data-name="Tracé 10" d="M318.38 258h5.45v45.93h-5.45z"></path>
						<path data-name="Tracé 11" d="M357.05 266.09a9.54 9.54 0 00-8.37-4.21c-4.8 0-9.8 2.27-9.8 7.72 0 4.21 2.33 6.1 9.67 8.43 7.14 2.27 13.75 4.61 13.75 13.63s-7.85 13.43-16.15 13.43a16.67 16.67 0 01-14.15-6.36l4.68-3.83a11.11 11.11 0 009.8 5.13c4.67 0 10-2.73 10-8 0-5.64-3.83-6.62-12-9.34-6.49-2.14-11.43-5-11.43-12.65a14 14 0 0114.56-13.32 9.45 9.45 0 011.07.09 15.79 15.79 0 0112.86 5.38z"></path>
						<path data-name="Tracé 12" d="M389.36 258H403c8.44 0 16.09 3 16.09 12.58 0 10.06-8.57 12.72-15.05 12.72h-9.2v20.6h-5.45zm5.45 20.24H404c5.45 0 9.21-2.46 9.21-7.59S409.48 263 404 263h-9.2z"></path>
						<path data-name="Tracé 13" d="M425.17 281a24 24 0 1124 24.13 23.32 23.32 0 01-24-22.59c-.02-.54-.02-1.08 0-1.54zm42.14 0a17.39 17.39 0 10.07 1v-1z"></path>
						<path data-name="Tracé 14" d="M516.4 286.4a17.37 17.37 0 01-34.65 2.54 15.39 15.39 0 010-2.54V258h5.45v27.64c0 7.4 2.73 14.41 11.87 14.41s11.87-7 11.87-14.41V258h5.45z"></path>
						<path data-name="Tracé 15" d="M527.61 258h11.74c8.89 0 18.3 1.3 18.3 12.65a12 12 0 01-11.48 12.14l13 21.15h-6.69l-12.45-20.63h-7v20.63h-5.45zm5.45 20.24h4.86c6 0 13.89 0 13.89-7.59 0-6.62-5.77-7.6-11.09-7.6h-7.66z"></path>
						<path data-name="Tracé 16" d="M585.29 258h28.87v5h-23.44v14.4h21.87v5.07h-21.87v16.35h24.6v5.06h-30.05z"></path>
						<path data-name="Tracé 17" d="M654.57 263h-15.18v40.88h-5.45V263h-15.18v-5h35.81z"></path>
						<path data-name="Tracé 18" d="M661 258h11.75c8.88 0 18.29 1.3 18.29 12.65a12 12 0 01-11.48 12.14l13 21.15h-6.68l-12.46-20.63h-7v20.63H661zm5.45 20.24h4.87c6 0 13.88 0 13.88-7.59 0-6.62-5.78-7.6-11.09-7.6h-7.66z"></path>
						<path data-name="Tracé 19" d="M700.64 258h28.88v5h-23.4v14.4H728v5.07h-21.88v16.35h24.59v5.06h-30z"></path>
						<path data-name="Tracé 20" d="M791.6 286.4A17.37 17.37 0 11757 289a16.49 16.49 0 010-2.63V258h5.45v27.64c0 7.4 2.72 14.41 11.87 14.41s11.87-7 11.87-14.41V258h5.45z"></path>
						<path data-name="Tracé 21" d="M802.83 258h6.88l26.6 38.15h.13V258h5.45v45.93H835l-26.6-38.15h-.13v38.15h-5.45z"></path>
						<path data-name="Tracé 22" d="M853.28 258h5.45v45.93h-5.45z"></path>
						<path data-name="Tracé 23" d="M917.8 303.92h-26.66a23.57 23.57 0 1123.61-23.57 20.47 20.47 0 01-11.16 18.75v.13h14.21zm-26.66-5.06a18.5 18.5 0 10-17.77-19.22v.73a17.84 17.84 0 0017.22 18.47h.56z"></path>
						<path data-name="Tracé 24" d="M958.74 286.4a17.37 17.37 0 01-34.65 2.6 19.24 19.24 0 010-2.63V258h5.45v27.64c0 7.4 2.72 14.41 11.87 14.41s11.88-7 11.88-14.41V258h5.45z"></path>
						<path data-name="Tracé 25" d="M970 258h28.87v5h-23.48v14.4h21.86v5.07h-21.86v16.35H1000v5.06h-30z"></path>
					</g>
					<path data-name="Tracé 26" d="M595.87 245.93h5.9l7.27 9.35h-5.26l-5.13-6.62-5 6.62h-4.93z" fill="#54616c"></path>
				</svg>
				<p class="mt-2 text-sm text-gray-500">Connectez-vous à votre compte</p>
			</div>

			{% if error %}
				<div class="mb-4 rounded-md p-3 bg-red-50 text-red-800 ring-1 ring-red-500/20">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<form method="post" class="space-y-4">
				<div>
					<label for="inputEmail" class="block text-sm font-medium text-gray-700">Adresse e-mail</label>
					<input type="email" name="email" id="inputEmail" class="mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-base py-2 px-2" autocomplete="email" required autofocus value="{{ last_username }}">
				</div>

				<div>
					<label for="inputPassword" class="block text-sm font-medium text-gray-700">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-base py-2 px-2" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="flex items-center justify-between">
					<label class="flex items-center text-sm">
						<input type="checkbox" name="_remember_me" class="h-5 w-5 text-blue-600 border-gray-300 rounded">
						<span class="ml-3 text-gray-600">Se souvenir de moi</span>
					</label>
					<a href="#" class="text-sm underline" style="color: #212a3f;">Mot de passe oublié ?</a>
				</div>

				<div>
					<button type="submit" class="btn w-full inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">Connexion</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
