<!doctype html>
<html>
  <head>
    <title>Univer</title>
    <meta charset="UTF-8" />
    {# CSS généré par Webpack Encore #}
    {{ encore_entry_link_tags('app') }}
  </head>
  <body style="margin:0; padding:0; height:100vh; width:100vw;">
      <div data-controller="univer" style="height:100%; width:100%;">
      </div>
    {# JS généré par Webpack Encore #}
    {{ encore_entry_script_tags('app') }}
  </body>
</html>
